<%- include('header') -%>

    <div class="box heading-box" id="heading">
        <h1>
            <%=listName%> List -
                <%=date%>
        </h1>
    </div>

    <div class="box">
        <% items.forEach((el)=>{ %>
            <form method="post" action="/delete/<%=listName%>">
                <div class="item">
                    <input name="checkbox" value="<%=el._id%>" onchange="this.form.submit()" type="checkbox" />
                    <p>
                        <%= el.name %>
                    </p>
                </div>
            </form>
            <% }) %>
                <%if(listName === 'Home'){%>

                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
                        <button type="submit" name="list">+</button>
                    </form>
                    <%}else{%>
                        <form class="item" action="/<%=listName%>" method="post">
                            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
                            <button type="submit" name="list">+</button>
                        </form>

                        <%}%>
    </div>

    <%- include('footer') -%>